<app-components></app-components>
<router-outlet></router-outlet>
<footer class="footer footer-black">
    <div class="container">
        <div class="row">
            <div class="credits ml-auto">
                <span class="copyright">
                    © 2021, made with <i class="fa fa-heart heart"></i> by NghiaSun
                </span>
            </div>
        </div>
    </div>
</footer>
