<div class="container-fluid">
    <div class="card">
        <div class="row d-block">
            <div class="col-12">
                <ng-container>
                    <div class="p-1" *ngIf="isCap">
                        <video #video class="vid" autoplay></video>
                    </div>
                </ng-container>
                <div class="p-1">
                    <canvas #canvas class="vid"></canvas>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <button class="btn  btn-sm btn-primary" (click)="capture()">{{textForCapButton}}</button>
                <input style="display: none" type="file" (change)="onFileSelect($event)" #hiddenfileinput>
                <button (click)="hiddenfileinput.click()" class="btn btn-sm btn-file">Chọn ảnh</button>
                <button class="btn btn-sm btn-primary" (click)="onSubmit()">Submit</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead class="text-center">
                            <tr>
                                <th class="font-weight-bold">{{ 'Date' }}</th>
                                <th class="font-weight-bold">{{ 'Before Breakfast' }}</th>
                                <th class="font-weight-bold">{{ 'After Breakfast' }}</th>
                                <th class="font-weight-bold">{{ 'Before Lunch' }}</th>
                                <th class="font-weight-bold">{{ 'After Lunch' }}</th>
                                <th class="font-weight-bold">{{ 'Before Dinner' }}</th>
                                <th class="font-weight-bold">{{ 'After Lunch' }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let x of data">
                                <td class="text-center">{{  x?.measurement_date }}</td>
                                <td class="text-center">{{ x?.before_breakfast }}</td>
                                <td class="text-center">{{ x?.after_breakfast }}</td>
                                <td class="text-center">{{ x?.before_lunch }}</td>
                                <td class="text-center">{{ x?.after_lunch }}</td>
                                <td class="text-center">{{ x?.before_dinner }}</td>
                                <td class="text-center">{{ x?.after_dinner }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
