<div class="page-header" style="background-image: url('./assets/img/cover.jpg')">
    <div class="filter"></div>
    <div class="motto">
        <div class="row">
            <div class="col-12 pt-lg-5" *ngIf="isActive">
                <div class="row">
                    <div class="col-6">
                        <div class="container-fluid">
                            <div style="text-align:center;margin-top: 200px;">
                                <button (click)="initiateRecording()" class="btn btn-primary" *ngIf="!recording"
                                        style="cursor: pointer;background-color: green;color: white;font-size: 40px;">
                                    Start
                                    Recording - predic
                                </button>
                                <button (click)="stopRecording()" class="btn btn-danger" *ngIf="recording"
                                        style="cursor: pointer;background-color: red;color: white;font-size: 40px;">
                                    Stop
                                    Recording
                                </button>

                                <audio controls="" *ngIf="url">
                                    <source [src]="sanitize(url)" type="audio/wav">
                                </audio>
                            </div>

                        </div>
                    </div>
                    <div class="col-6">
                        <div class="container-fluid">
                            <div style="text-align:center;margin-top: 200px;">
                                <button (click)="initiateRecordingAdd()" class="btn btn-primary" *ngIf="!recordingAdd"
                                        style="cursor: pointer;background-color: green;color: white;font-size: 40px;">
                                    Start Recording - ADD
                                </button>
                                <button (click)="stopRecordingAdd()" class="btn btn-danger" *ngIf="recordingAdd"
                                        style="cursor: pointer;background-color: red;color: white;font-size: 40px;">
                                    Stop Recording
                                </button>
                                <form #userlogin = "ngForm">
                                    <input type = "text" name = "name" placeholder = "name"  [(ngModel)]="nameAdd">
                                </form>
                                <audio controls="" *ngIf="urlAdd">
                                    <source [src]="sanitize(urlAdd)" type="audio/wav">
                                </audio>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


